@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .perspective-100 {
    perspective: 100px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Фон со звездами */
.stars-bg-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 3px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 3px);
  background-size:
    550px 550px,
    350px 350px,
    250px 250px;
  background-position:
    0 0,
    40px 60px,
    130px 270px;
  opacity: 0.2;
  z-index: 0;
  pointer-events: none;
  animation: starsMove 100s linear infinite;
}

/* Логика чекбокса: при checked показываем внутренний элемент */
.custom-checkbox:checked ~ .checkmark {
  border-color: #ffd700;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.3);
}
.custom-checkbox:checked ~ .checkmark::after {
  transform: scale(1);
}
